key_begin:	begin;
key_end:	end;
key_if:		if;
key_then:	then;
key_else:	else;
key_for:	for;
key_do:		do;
key_while:	while;
key_and:	and;
key_or:		or;
key_not:	not;
identity:	<alph><'identity2>|<alph>;
unsign_int:	<num><unsign_int>|<num>;
double_dlim:	\>= | \<= | \<\> | \:= | \\*;
single_dlim:	+ | - | * | \; | ( | );
lt:		\<;
gt:		\>;
eq:		=;
colon:		\:;
slash:		/;
alph:		a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z;
num:		0|1|2|3|4|5|6|7|8|9;
'identity2:	<alph><'identity2>|<num><'identity2>|<alph>|<num>;